<div>
  <button mat-button (click)="shareOn(platforms.Twitter)">
    <img src="../../../assets/icons/twitter.png"/>
    <br>Twitter
  </button>
  <button mat-button  (click)="shareOn(platforms.Facebook)">
    <img src="../../../assets/icons/facebook.png"/>
    <br>Facebook
  </button>
  <button mat-button (click)="shareOn(platforms.VK)">
    <img src="../../../assets/icons/vk.png"/>
    <br>VK
  </button>
  <button mat-button (click)="shareOn(platforms.Other)">
    <img src="../../../assets/icons/copy.png"/>
    <br>Copy link
  </button>
</div>
