<nav [ngClass]="{
  'theme-alternate': (isDarkMode$ | async),
  'theme-initial': (isDarkMode$ | async) === false
}">
  <div class="container">
    <div class="logo">
      <img src="../../../../assets/icons/logo.png" style="cursor: pointer; outline: none" [routerLink]="['/']" alt="Site Logo" />
      <a [routerLink]="['/']" class="brand"
        [ngClass]="{'brand-dark': (isDarkMode$ | async)}">Գիտ․եմ</a>
    </div>
    <div class="left-container">
      <div class="search" (click)="$event.stopPropagation()">
        <button mat-button [color]="(isDarkMode$ | async ) ? 'primary' : 'accent'"
              (click)="search$.next(); inp.focus()" matTooltip="Փնտրել">
          <mat-icon>search</mat-icon>
        </button>
        <input placeholder="Փնտրել" #inp (keyup)="search($event, inp.value)"
              [ngClass]="{
                open: (searchOpen$ | async),
                closed: (searchOpen$ | async) === false
              }"/>
      </div>

      <a *ngIf="(isAuth$ | async) && (searchOpen$ | async) === false" [routerLink]="['bookmarks']"
        mat-button [color]="(isDarkMode$ | async ) ? 'primary' : 'accent'"
        matTooltip="Պահպանված նյութեր" class="bookmarks-btn">
         <mat-icon>bookmarks</mat-icon>
      </a>

      <button [color]="(isDarkMode$ | async ) ? 'primary' : 'accent'" matTooltip="Կարգավորումներ"
        [ngClass]="{'open-related': (searchOpen$ | async)}" mat-button [matMenuTriggerFor]="personalMenu">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>
</nav>

<mat-menu #personalMenu="matMenu">
  <div [ngClass]="{
      'theme-alternate': (isDarkMode$ | async),
      'theme-initial': (isDarkMode$ | async) === false
    }">
    <button mat-menu-item
            (click)="toggleDarkMode($event)">
      <mat-icon *ngIf="isDarkMode$ | async; else moon">nights_stay</mat-icon>
      <ng-template #moon>
        <mat-icon>wb_sunny</mat-icon>
      </ng-template>
      {{ ((isDarkMode$ | async) ? 'Ցերեկային' : 'Գիշերային') + ' ռեժիմ' }}
    </button>
    <button *ngIf="(isAuth$ | async)" mat-menu-item (click)="signOut()">
      <mat-icon>exit_to_app</mat-icon>
      Դուրս Գալ
    </button>
    <a *ngIf="(isAuth$ | async) === false"
        [ngClass]="{'open-related': (searchOpen$ | async)}" [routerLink]="['login']" mat-menu-item class="login-btn">
        <mat-icon>login</mat-icon>
        Մուտք գործել
      </a>
  </div>
</mat-menu>
