@import '../../../../styles';

nav {
  display: flex;
  height: 60px;
  border-bottom: thick solid mat-color($theme-accent);
  margin-bottom: 5px;
  // background-color: mat-color($theme-primary);

  .container {
    margin: auto;
    margin-bottom: 10px;
    width: 60%;
    display: flex;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
      img {
        width: 42px;
        height: 42px;
      }
    }

    .left-container {
      display: flex;
      align-items: center;
    }

    a {
      font-weight: bolder;
      font-size: 25px;
      text-decoration: none;
    }

    .brand {
      margin-left: 10px;
      color: mat-color($theme-accent) !important;
    }

    .brand-dark {
      color: mat-color($theme-primary) !important;
    }

    .login-btn {
      font-size: 16px;
    }

    .search {
      display: flex;

      input {
        border: none;
        outline: none;
        transition: width 2s;
        background-color: #fafafa;
      }

      button {
        border: none;
        background-color: transparent;
        cursor: pointer;
      }

      .closed {
        width: 0;
        padding: 0;
      }

      .open {
        width: auto;
      }
    }
  }
}


@media screen and (max-width: 480px) {
  .container {
    width: 100% !important;
  }

  .open-related {
    display: none !important;
  }

  .login-btn {
    font-size: 14px !important;
    margin-right: 5px !important;
  }

  .bookmarks-btn,
  .login-btn {
    align-self: center;
    max-height: 70%;
  }
}

@media only screen and (max-width: 480px) {
  nav {
    // position: fixed !important;
    // opacity: 1 !important;
    // top: 0 !important;
    // width: 100% !important;
    // z-index: 10000;

    .container {
      .left-container {
        display: inline-flex;

        a {
          align-self: baseline !important;
        }
      }

      .bookmarks-invisible-mobile {
        display: none !important;
      }
    }
  }
}
