<div class="article-detail-page">
  <ng-container *ngIf="loading">
    Loading...
  </ng-container>

  <ng-container *ngIf="article">
    <h2>{{ article.title }}</h2>
    <div class="subtitle">
      <h5>{{ article.createdAt | date }}</h5>
      <h5>{{ author.fullName }}</h5>
    </div>
    <div class="article-content" [innerHTML]="article.text"></div>
    <div class="actions-tags">
      <app-tags [tags]="article.tags"></app-tags>
      <div class="actions">
        <button mat-button
                [matTooltip]="(isInBookmarks$ | async) ? 'Հեռացնել պահպանած հոդվածներից' : 'Պահպանել հոդվախը'">
          <mat-icon *ngIf="!(isInBookmarks$ | async)" (click)="addToBookmarks()">bookmark_border</mat-icon>
          <mat-icon *ngIf="isInBookmarks$ | async" (click)="removeFromBookmarks()">bookmark</mat-icon>
        </button>
        <button mat-button (click)="shareOnSocialMedia()" matTooltip="Կիսվել">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </div>
    <app-further-reading [tag]="article.tags | split | randomItem" [currentArticleId]="article.id"></app-further-reading>
  </ng-container>

  <ng-container *ngIf="errorMessage"></ng-container>

  <div class="back-button-container" (click)="back()">
    <button mat-button>
      <mat-icon>arrow_left</mat-icon>
      <span>Նախորդ էջ</span>
    </button>
  </div>
</div>
