mat-card {
  margin: auto;
  margin-top: 20px;
  width: 80%;

  a {
    border: solid blue 1px;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: blue;
    font-size: 48px;
  }
}
