@import '../../../styles';

mat-card {
  margin: auto;
  margin-top: 50px;
  width: 40%;

  mat-form-field {
    width: 100%;
  }

  .errors {
    p {
      color: red;
    }
  }

  .social-btn {
    // width: 49%;
    width: 100%;
    padding: 15px;
    margin: 3px;

    img {
      width: 40px;
      height: 40px;
    }
  }

  .actions {
    max-width: 10%;
    margin: auto;

    button,
    a {
      display: block;
      color: mat-color($theme-accent);
    }
  }

  .dark-mode {
    button,
    a {
      color: $alternate-button-color !important;
    }
  }
}

@media screen and (max-width: 480px) {
  .mat-card {
    margin-top: 10px;
    width: 90%;
  }
}

