<div *ngIf="isNavigating$ | async" class="loader-container" #navLoader>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div [ngClass]="{
  'theme-alternate': (isDarkMode$ | async),
  'theme-initial': (isDarkMode$ | async) === false
}" class="mat-typography app-frame mat-app-background">
  <app-header></app-header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <button mat-mini-fab color="accent" *ngIf="hasScroll$ | async" (click)="scrollUp()" matTooltip="Դեպի Էջի Սկիզբ" class="scroll-up-btn">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>
</div>

