h3 {
  font-weight: bolder;
}

.further-reading-container {
  display: flex;
  justify-content: space-between;

  app-article-item {
    max-width: 50% !important;
    margin-left: 8px !important;
    height: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .further-reading-container {
    flex-wrap: wrap;

    app-article-item {
      max-width: 100% !important;
    }
  }
}
