@import '../../../../styles';

.article-container {

  mat-card {
    margin: 10px;
    color: white;
    background-size: cover;

    h3 {
      font-size: 12px !important;
    }

    [mat-card-title] {
      font-size: 16px;
      text-decoration: none !important;
      color: white;
    }

    mat-card-subtitle {
      color: #fafafa;
    }

    mat-card-actions {
      button {
        color: white;
      }
    }

    .spinning {
      animation: spin 4s linear infinite;
    }
  }
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
