@import '../../../styles.scss';

.registration-page {
  margin: auto;
  width: 40%;
  margin-top: 25px;

  mat-card {
    mat-form-field {
      width: 100%;
    }

    .actions {
      max-width: 17%;
      margin: auto;

      button,
      a {
        display: block;
        color: mat-color($theme-accent);
      }
    }

    .dark-mode {
      button,
      a {
        color: $alternate-button-color !important;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .registration-page {
    margin-top: 10px;
    width: 85%;
  }
}
