.registration-page {
  margin: auto;
  width: 40%;
  margin-top: 25px;

  mat-card {
    mat-form-field {
      width: 100%;
    }

    .actions {
      max-width: 15%;
      margin: auto;

      button,
      a {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .registration-page {
    margin-top: 10px;
    width: 85%;
  }
}
